.red {
   color: red;
}
.thick {
   font-size:20px;
}
.green {
   color:green;
}

feature1
sua loi git a1
sua loi git b1

feature2
sua loi git a2
sua loi git b2
sua loi git c2

featuer3
sua loi git a3
sua loi git b3
sua loi git c3